<!DOCTYPE HTML>

<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if remote == True %}
			<link rel="stylesheet" type="text/css" href="/flask{{ url_for('static', filename='bootstrap.css') }}" />
			<link rel="stylesheet" type="text/css" href="/flask{{ url_for('static', filename='page.css') }}" />
		{% else %}
			<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='bootstrap.css') }} />
			<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='page.css') }} />
		{% endif %}
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>

	<body>

		<div class="container-fluid" style="background-color: #E9E9E9">
			<div class="row-fluid row-centered">
				{% if scribe %}
					<h1> Error in SheetScribeService instance: {{instance}} </h1>
					<p>{{e}}</p>
				{% endif %}
				{% if sports_radar %}
					<h1> Error in SportsRadarService instance: {{instance}} </h1>
					<p>{{e}}</p>
				{% endif %}
			</div>
		</div>

	</body>

</html>
