<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href=../static/bootstrap.css />
		<link rel="stylesheet" type="text/css" href=../static/page.css />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>

	<body>

		<div class="container-fluid" style="">

			<div class="row-fluid sub-sheet">
				User Sheet: Nik
			</div>

			<div class="row-fluid motd">
				<h1><b>UCF: 2017-8 National Champions.</b></h1>
			</div>

			<div class="row-fluid season-week-info">
				<b>NCAA Season:</b> 2017, <b>Week:</b> 1
			</div>

			<form action="/football_post" method="POST" class="pd40">

				<div class='row game-info'>
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								South Florida @ San Jose State
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: 1 <input name="away_0" value=42></input> to <input name="away_0" value=42></input> Rank: 2
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left">
							Scheduled
							for
							Future
					</div>
				</div>

				<div class='row game-info'>
					<div class="col-lg-8 border-top-and-right">
							"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem ape
					</div>
					<div class="col-lg-4 border-top-and-left">
							"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem ape
					</div>
				</div>
						<!--
							<th scope="row">1</th>
							<td>closed</td>
							<td>19</td>
							<td>South Florida</td>
							<td><input name="away_0" value=42></input></td>
							<td><input name="home_0" value=22></input></td>
							<td>San Jose State</td>
							<td>U</td>
							<td>2017-08-26T23:30</td>


							<input type="submit" value="Submit Scores">
						-->
			</form>
		</div>
	</body>

</html>
