<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='bootstrap.css') }} />
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='page.css') }} />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>

	<body>

		<div class="container-fluid">

			<div class="row-fluid sub-sheet">
				User Sheet: {{sub_sheet}}
			</div>

			<div class="row-fluid motd">
				<h1><b>{{phrase}}</b></h1>
			</div>

			<div class="row-fluid season-week-info">
				<b>NCAA Season:</b> {{season}}, <b>Week:</b> {{week}}
			</div>

			<form action="/football_post" method="POST" class="pd40">
				{% for game in seq %}

				<div class='row game-info'>
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								{{game.away_team}} @ {{game.home_team}}
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: {{game.awayRank}} <input name="away_{{loop.index0}}" value={{game.away_points}}></input> to <input name="home_{{loop.index0}}" value={{game.home_points}}></input> Rank: {{game.homeRank}}
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							{{game.gameStatus}}
							{{game.gameTime}}
					</div>
				</div>

				{% endfor %}
				<input type="submit" value="Submit Scores">
			</form>
		</div>
	</body>

</html>
