<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='bootstrap.css') }} />
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='page.css') }} />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>

	<body>

		<div class="container-fluid" style="background-color: #E9E9E9">
			<div class="row-fluid row-centered">
				<h1><b>{{phrase}}<b></h1>
			</div>
			<form action="/football_post" method="POST">

				<table class="table table-responsive table-dark table-bordered table-striped" style="text-align: center;">

					<thead>
					    <tr>
					    <th scope="col">#</th>
					    <th scope="col">Status</th>
					    <th scope="col">Away Rank</th>
					    <th scope="col">Away Team</th>
					    <th scope="col">Away Score Entry</th>
					    <th scope="col">Home Score entry</th>
					    <th scope="col">Home Team</th>
					    <th scope="col">Home Rank</th>
					    <th scope="col">Scheduled Time</th>
					    </tr>
					</thead>

					<tbody>
						{% for game in seq %}
						<tr>
							<th scope="row">{{loop.index}}</th>
							<td>{{game.gameStatus}}</td>
							<td>{{game.awayRank}}</td>
							<td>{{game.away_team}}</td>
							<td><input name="away_{{loop.index0}}" value={{game.away_points}}></input></td>
							<td><input name="home_{{loop.index0}}" value={{game.home_points}}></input></td>
							<td>{{game.home_team}}</td>
							<td>{{game.homeRank}}</td>
							<td>{{game.gameTime}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<input type="submit">
			
			</form>
			<h3>{{response}}</h3>
		</div>
	</body>

</html>
