<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href=../static/bootstrap.css />
		<link rel="stylesheet" type="text/css" href=../static/page.css />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>

	<body>

		<div class="container-fluid" style="background-color: #E9E9E9">

			<div class="row-fluid row-centered">
				<h1><i>Missouri belongs in the SEC.</i></h1>
			</div>

			<div class="row">
				<div class="col">
					<b>Working on Spreadsheet</b>: 1r_kgK6WNvCIgNT3Mkz84MJXOfFPqAdrvv3g6m1bmdSI
				</div>
				<div class="col">
					<b>Sub-Sheet</b>: Nik
				</div>
				<div class="col">
					<b>NCAA Season</b>: 2017
				</div>
				<div class="col">
					<b>Week</b>: 1
				</div>
			</div>

			<form action="/football_post" method="POST">

				<table class="table table-dark table-bordered table-striped">
					<thead>
					    <tr>
					    <th scope="col">#</th>
					    <th scope="col">Status</th>
					    <th scope="col">Away Rank</th>
					    <th scope="col">Away Team</th>
					    <th scope="col">Away Score Entry</th>
					    <th scope="col">Home Score entry</th>
					    <th scope="col">Home Team</th>
					    <th scope="col">Home Rank</th>
					    <th scope="col">Scheduled Time</th>
					    </tr>
					</thead>

					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>scheduled</td>
							<td>24</td>
							<td>Ball St.</td>
							<td><input name="away_0" value=21></input></td>
							<td><input name="home_0" value=6></input></td>
							<td>Texas-San Antonio</td>
							<td>10</td>
							<td>future</td>
						</tr>
					</tbody>
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								10
							</div>
							<div class="col pd10">
								Marshall
							</div>
							<div class="col pd10">
								<input name="away_1" value=23></input>
							</div>
							<div class="col pd10">
								<input name="home_1" value=30></input>
							</div>
							<div class="col pd10">
								Virginia
							</div>
							<div class="col pd10">
								U
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								20
							</div>
							<div class="col pd10">
								Duke
							</div>
							<div class="col pd10">
								<input name="away_2" value=23></input>
							</div>
							<div class="col pd10">
								<input name="home_2" value=68></input>
							</div>
							<div class="col pd10">
								Texas Tech
							</div>
							<div class="col pd10">
								13
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								8
							</div>
							<div class="col pd10">
								Ball St.
							</div>
							<div class="col pd10">
								<input name="away_3" value=33></input>
							</div>
							<div class="col pd10">
								<input name="home_3" value=47></input>
							</div>
							<div class="col pd10">
								Georgia Tech
							</div>
							<div class="col pd10">
								8
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								19
							</div>
							<div class="col pd10">
								Texas St.
							</div>
							<div class="col pd10">
								<input name="away_4" value=6></input>
							</div>
							<div class="col pd10">
								<input name="home_4" value=31></input>
							</div>
							<div class="col pd10">
								Mississippi
							</div>
							<div class="col pd10">
								10
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								3
							</div>
							<div class="col pd10">
								Florida St.
							</div>
							<div class="col pd10">
								<input name="away_5" value=21></input>
							</div>
							<div class="col pd10">
								<input name="home_5" value=35></input>
							</div>
							<div class="col pd10">
								Virginia
							</div>
							<div class="col pd10">
								12
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								25
							</div>
							<div class="col pd10">
								Nevada-Las Vegas
							</div>
							<div class="col pd10">
								<input name="away_6" value=21></input>
							</div>
							<div class="col pd10">
								<input name="home_6" value=10></input>
							</div>
							<div class="col pd10">
								North Texas
							</div>
							<div class="col pd10">
								25
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								U
							</div>
							<div class="col pd10">
								Texas-El Paso
							</div>
							<div class="col pd10">
								<input name="away_7" value=40></input>
							</div>
							<div class="col pd10">
								<input name="home_7" value=58></input>
							</div>
							<div class="col pd10">
								Louisiana St.
							</div>
							<div class="col pd10">
								U
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								20
							</div>
							<div class="col pd10">
								New Mexico St.
							</div>
							<div class="col pd10">
								<input name="away_8" value=47></input>
							</div>
							<div class="col pd10">
								<input name="home_8" value=13></input>
							</div>
							<div class="col pd10">
								Nevada
							</div>
							<div class="col pd10">
								U
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								15
							</div>
							<div class="col pd10">
								Stanford
							</div>
							<div class="col pd10">
								<input name="away_9" value=0></input>
							</div>
							<div class="col pd10">
								<input name="home_9" value=10></input>
							</div>
							<div class="col pd10">
								Hawaii
							</div>
							<div class="col pd10">
								13
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								15
							</div>
							<div class="col pd10">
								Tennessee
							</div>
							<div class="col pd10">
								<input name="away_10" value=24></input>
							</div>
							<div class="col pd10">
								<input name="home_10" value=12></input>
							</div>
							<div class="col pd10">
								Connecticut
							</div>
							<div class="col pd10">
								23
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								4
							</div>
							<div class="col pd10">
								Ohio St.
							</div>
							<div class="col pd10">
								<input name="away_11" value=21></input>
							</div>
							<div class="col pd10">
								<input name="home_11" value=70></input>
							</div>
							<div class="col pd10">
									Florida
							</div>
							<div class="col pd10">
								20
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								U
							</div>
							<div class="col pd10">
								Boston College
							</div>
							<div class="col pd10">
								<input name="away_12" value=24></input>
							</div>
							<div class="col pd10">
								<input name="home_12" value=61></input>
							</div>
							<div class="col pd10">
								New Mexico St.
							</div>
							<div class="col pd10">
								13
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								U
							</div>
							<div class="col pd10">
								Northern Illinois
							</div>
							<div class="col pd10">
								<input name="away_13" value=14></input>
							</div>
							<div class="col pd10">
								<input name="home_13" value=37></input>
							</div>
							<div class="col pd10">
								Florida St.
							</div>
							<div class="col pd10">
								5
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								U
							</div>
							<div class="col pd10">
								Georgia
							</div>
							<div class="col pd10">
								<input name="away_14" value=39></input>
							</div>
							<div class="col pd10">
								<input name="home_14" value=10></input>
							</div>
							<div class="col pd10">
								Michigan
							</div>
							<div class="col pd10">
								20
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								18
							</div>
							<div class="col pd10">
								Memphis
							</div>
							<div class="col pd10">
								<input name="away_15" value=41></input>
							</div>
							<div class="col pd10">
								<input name="home_15" value=34></input>
							</div>
							<div class="col pd10">
								Utah
							</div>
							<div class="col pd10">
								3
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								10
							</div>
							<div class="col pd10">
								Illinois
							</div>
							<div class="col pd10">
								<input name="away_16" value=30></input>
							</div>
							<div class="col pd10">
								<input name="home_16" value=52></input>
							</div>
							<div class="col pd10">
								South Alabama
							</div>
							<div class="col pd10">
								8
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								U
							</div>
							<div class="col pd10">
								Kentucky
							</div>
							<div class="col pd10">
								<input name="away_17" value=62></input>
							</div>
							<div class="col pd10">
								<input name="home_17" value=44></input>
							</div>
							<div class="col pd10">
								Southern Mississippi
							</div>
							<div class="col pd10">
								11
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								20
							</div>
							<div class="col pd10">
								Texas Tech
							</div>
							<div class="col pd10">
								<input name="away_18" value=20></input>
							</div>
							<div class="col pd10">
								<input name="home_18" value=34></input>
							</div>
							<div class="col pd10">
								Bowling Green
							</div>
							<div class="col pd10">
								23
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
					
			    		<div class='row pd10' style="background-color: #E9E9E9; border-style: solid;">
			    			<div class="col pd10">
								scheduled
							</div>
			    			<div class="col pd10">
								2
							</div>
							<div class="col pd10">
								Auburn
							</div>
							<div class="col pd10">
								<input name="away_19" value=38></input>
							</div>
							<div class="col pd10">
								<input name="home_19" value=34></input>
							</div>
							<div class="col pd10">
								Clemson
							</div>
							<div class="col pd10">
								25
							</div>
							<div class="col pd10">
								future
							</div>
						</div>
				
				<input type="submit">
			</form>
			<h3>none</h3>
		</div>
	</body>

</html>