<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../static/page.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>

		<div class="container-fluid" style="">

			<div class="row-fluid sub-sheet">
				User Sheet: Nik
			</div>

			<div class="row-fluid motd">
				<h1><b>Beat the War-tigle crap out of em'.</b></h1>
			</div>

			<div class="row-fluid season-week-info">
				<b>NCAA Season:</b> 2017, <b>Week:</b> 1
			</div>

			<form action="/football_post" method="POST" class="pd40">


				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								South Florida @ San Jose State
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: 19 <input name="away_0" value="42"> to <input name="home_0" value="22"> Rank: U
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-08-26T23:30
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Stanford @ Rice
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: 14 <input name="away_1" value="62"> to <input name="home_1" value="7"> Rank: U
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-08-27T02:00
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Tulsa @ Oklahoma State
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_2" value="24"> to <input name="home_2" value="59"> Rank: 10
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-08-31T23:30
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Ohio State @ Indiana
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: 2 <input name="away_3" value="49"> to <input name="home_3" value="21"> Rank: U
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-01T00:00
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Washington @ Rutgers
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: 8 <input name="away_4" value="30"> to <input name="home_4" value="14"> Rank: U
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T00:00
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Utah State @ Wisconsin
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_5" value="10"> to <input name="home_5" value="59"> Rank: 9
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T01:00
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Akron @ Penn State
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_6" value="0"> to <input name="home_6" value="52"> Rank: 6
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T16:00
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Kent State @ Clemson
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_7" value="3"> to <input name="home_7" value="56"> Rank: 5
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T16:00
					</div>
				<div></div><div></div><div></div></div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Maryland @ Texas
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_8" value="51"> to <input name="home_8" value="41"> Rank: 23
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T16:00
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Bethune-Cookman @ Miami (FL)
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_9" value="13"> to <input name="home_9" value="41"> Rank: 18
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T16:30
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Michigan @ Florida
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: 11 <input name="away_10" value="33"> to <input name="home_10" value="17"> Rank: 17
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T19:30
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								UTEP @ Oklahoma
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_11" value="7"> to <input name="home_11" value="56"> Rank: 7
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T19:30
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Stony Brook @ South Florida
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_12" value="17"> to <input name="home_12" value="31"> Rank: 19
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T20:00
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Western Michigan @ South California
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_13" value="31"> to <input name="home_13" value="49"> Rank: 4
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T21:15
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Appalachian State @ Georgia
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_14" value="10"> to <input name="home_14" value="31"> Rank: 15
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T22:15
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Central Arkansas @ Kansas State
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_15" value="19"> to <input name="home_15" value="55"> Rank: 20
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T23:10
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Georgia Southern @ Auburn
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_16" value="7"> to <input name="home_16" value="41"> Rank: 12
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T23:30
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Louisville @ Purdue
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: 16 <input name="away_17" value="35"> to <input name="home_17" value="28"> Rank: U
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-02T23:30
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Florida State @ Alabama
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: 3 <input name="away_18" value="7"> to <input name="home_18" value="24"> Rank: 1
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-03T00:00
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Brigham Young @ Louisianna State
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_19" value="0"> to <input name="home_19" value="27"> Rank: 13
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-03T01:30
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Montana State @ Washington State
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: U <input name="away_20" value="0"> to <input name="home_20" value="31"> Rank: 24
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-03T02:30
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								West Virginia @ Virginia Tech
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: 22 <input name="away_21" value="24"> to <input name="home_21" value="31"> Rank: 21
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-03T23:30
					</div>
				</div>



				<div class="row game-info">
					<div class="col-lg-8 border-top-and-right">
							<div class="row-fluid pd10 row-centered">
								Tennessee @ Georgia Tech
							</div>
							<div class="row-fluid pd10 row-centered">
								Rank: 25 <input name="away_22" value="42"> to <input name="home_22" value="41"> Rank: U
							</div>
					</div>
					<div class="col-lg-2 border-top-and-left" style="background-color: #ccffcc;">
							closed
							2017-09-05T00:00
					</div>
				</div>


				<input value="Submit Scores" type="submit">
			</form>
		</div>


</body>
