<!DOCTYPE HTML>

<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if remote == True %}
			<link rel="stylesheet" type="text/css" href="/flask{{ url_for('static', filename='bootstrap.css') }}" />
			<link rel="stylesheet" type="text/css" href="/flask{{ url_for('static', filename='page.css') }}" />
		{% else %}
			<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='bootstrap.css') }} />
			<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='page.css') }} />
		{% endif %}
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>

	<body>

		<div class="container-fluid" style="background-color: #E9E9E9">

			<div class="row-fluid row-centered">
				<h1><i>Setup</i></h1>
			</div>

			<form action="/ncaa-football/" method="POST">
				<div class="checkbox">
					<label><input name="FAKEGAMES" type="checkbox" checked>Fake Games</label>
				</div>
				<div class="row">
					<div class="col">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
						    	<span class="input-group-text" id="basic-addon1">Name:</span>
							</div>
							<input name="SHEETNAME" value="Nik" type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="col">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
						    	<span class="input-group-text" id="basic-addon1">Spreadsheet ID:</span>
							</div>
							<input name="SPREADSHEETID" value="1r_kgK6WNvCIgNT3Mkz84MJXOfFPqAdrvv3g6m1bmdSI" type="text" class="form-control" placeholder="Spreadsheet ID" aria-label="Sheet ID" aria-describedby="basic-addon1">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
						    	<span class="input-group-text" id="basic-addon1">Season:</span>
							</div>
							<input name="SEASON" value="2017" type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="col">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
						    	<span class="input-group-text" id="basic-addon1">Week:</span>
							</div>
							<input name="WEEK" value="1" type="text" class="form-control" placeholder="Spreadsheet ID" aria-label="Sheet ID" aria-describedby="basic-addon1">
						</div>
					</div>
				</div>
				<input type="submit" value="Onwards, to victory!">
			</form>
		</div>
	</body>

</html>
