<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='bootstrap.css') }} />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>

	<body>

		<div class="container-fluid">
			<form action="/football_post" method="POST">
				{% for game in seq %}
		    		<div class='row pd10'>
						<div class="col pd10">
							{{game.away_team}}
						</div>
						<div class="col pd10">
							<input name="away_{{loop.index0}}" placeholder={{game.away_points}}></input>
						</div>
						<div class="col pd10">
							{{game.home_team}}
						</div>
						<!--name="entry_{{game.home_team}}"-->
						<div class="col pd10">
							<input name="home_{{loop.index0}}" placeholder={{game.home_points}}></input>
						</div>
					</div>
				{% endfor %}
				<input type="submit">
			</form>
			<h3>{{response}}</h3>
		</div>
	</body>

</html>
