@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#ouroboros {
    height: 500px;
    width: 500px;
    animation: spin 15s linear infinite;
}

    #ouroboros:hover {
        animation-play-state: paused;
    }

.body {
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #000;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner {
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #000;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    /* animation: spin 5s linear infinite; */
}

.mouth {
    height: 1em;
    width: 1em;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    transform: rotate(45deg);
}

.eye {
    height: .25em;
    width: .25em;
    border-radius: 50%;
    background: #000;
    border: 1px solid #000;
    transform: translate(-2px, -2px)
}